.home {
    width: 100%; 
    color: $dark;   
}

.posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post {
    width: 27%;
    margin: 2% 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    &__title {
        font-size: 18px;
        font-weight: 600;
        font-family: $secondary;        
    }
    &__content {
        font-size: 16px;
        font-family: $primary;
    }
    &__img {
        width: 100%;
        max-width: 500px;
    }
}