.main-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: $secondary;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid $dark;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: $accent;
        color: $light;
        border: 1px solid $accent;
    }
}

.like-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark;
    cursor: pointer;
    &__img {
        height: 24px;
        width: 24px;
        margin-right: 10px;        
    }
    &__count {
        font-family: $secondary;
        font-size: 18px;
        font-weight: 400;
    }
    &:hover {
        color: $accent;
    }
    &:hover &__img {
        animation: pulse .6s infinite;
    }
}